<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
  </head>
  <body>
    <body>
      <div>
        <h1>Art Gallery Database Portal</h1>

        <div>
          <a href="/artist">Artist Information Form</a>
        </div>

        <div>
          <a href="/collector">Collector Information Form</a>
        </div>

        <div>
          <a href="/artwork">Artwork Information Form</a>
        </div>

        <div>
          <a href="/sale">Sale Invoice Form</a>
        </div>

        <div>
          <a href="/mailinglist">Mailing List Form</a>
        </div>
      </div>
    </body>
  </body>
</html>
